In [15]:
# @hidden_cell
# Import Libraries

import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from scipy import stats

In [3]:
# Load csv into pandas

# Specify the file path
# Replace with your actual CSV filename
file_path = "/Users/david/Documents/GitHub/WGU/d206 - Data Cleaning/Assessment/Medical Data and Dictionary Files/medical_raw_data.csv"

# Read the CSV file into a DataFrame
med_df = pd.read_csv(file_path)

# Print a preview of the DataFrame
med_df.head(3)

,Unnamed: 0,CaseOrder,Customer_id,Interaction,UID,City,State,County,Zip,Lat,...,TotalCharge,Additional_charges,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8
0,1,1,C412403,8cd49b13-f45a-4b47-a2bd-173ffa932c2f,3a83ddb66e2ae73798bdf1d705dc0932,Eva,AL,Morgan,35621,34.34960,...,3191.048774,17939.40342,3,3,2,2,4,3,3,4
1,2,2,Z919181,d2450b70-0337-4406-bdbb-bc1037f1734c,176354c5eef714957d486009feabf195,Marianna,FL,Jackson,32446,30.84513,...,4214.905346,17612.99812,3,4,3,4,4,4,3,3
2,3,3,F995323,a2057123-abf5-4a2c-abad-8ffe33512562,e19a0fa00aeda885b8a436757e889bc9,Sioux Falls,SD,Minnehaha,57110,43.54321,...,2177.586768,17505.19246,2,4,4,4,3,4,3,3

## Section B

In [12]:
# Section B
med_df.dtypes.to_frame()

                          0
Unnamed: 0            int64
CaseOrder             int64
Customer_id          object
Interaction          object
UID                  object
City                 object
State                object
County               object
Zip                   int64
Lat                 float64
Lng                 float64
Population            int64
Area                 object
Timezone             object
Job                  object
Children            float64
Age                 float64
Education            object
Employment           object
Income              float64
Marital              object
Gender               object
ReAdmis              object
VitD_levels         float64
Doc_visits            int64
Full_meals_eaten      int64
VitD_supp             int64
Soft_drink           object
Initial_admin        object
HighBlood            object
Stroke               object
Complication_risk    object
Overweight          float64
Arthritis            object
Diabetes             object
Hyperlipidemia       object
BackPain             object
Anxiety             float64
Allergic_rhinitis    object
Reflux_esophagitis   object
Asthma               object
Services             object
Initial_days        float64
TotalCharge         float64
Additional_charges  float64
Item1                 int64
Item2                 int64
Item3                 int64
Item4                 int64
Item5                 int64
Item6                 int64
Item7                 int64
Item8                 int64